@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 4;
    --board-size: 0.85;

    --color2: #cd58a6;
    --color4: #aa60d0;
    --color8: #5050cb;
    --color16: #58a6cd;
    --color32: #60d0aa;
    --color64: #52cb50;
    --color128: #acd060;
    --color256: #cbc950;
    --color512: #cda458;
    --color1024: #d08460;
    --color2048: #cb5050;
}

body {
    font-family: 'Roboto', serif;
    margin: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

body:hover {
    cursor: default;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: calc(var(--board-size) + 28px);
    height: calc((var(--board-size) - 32px) / var(--size));
    margin: auto;
    margin-top: 3vmax;
    margin-bottom: 10vmax;
}

.char {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    line-height: calc((var(--board-size) - 32px) / var(--size) - 0.8rem);
    height: calc((var(--board-size) - 32px) / var(--size));
    width: calc((var(--board-size) - 32px) / var(--size));
    font-size: calc((var(--board-size) - 32px) / 3.8);
    font-weight: bold;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    color: white;
}

.char:nth-child(1) {
    color: var(--color2);
    border-color: var(--color2);
}

.char:nth-child(2) {
    color: var(--color2048);
    border-color: var(--color2048);
}

.char:nth-child(3) {
    color: var(--color4);
    border-color: var(--color4);
}

.char:nth-child(4) {
    color: var(--color8);
    border-color: var(--color8);
}

.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, minmax(25%, 1fr));
    padding: 4px;
    border-width: 10px;
    border-style: solid;
    border-radius: 7px;
    border-color: darkgray;
    background-color: whitesmoke;
    height: var(--board-size);
    width: var(--board-size);
    margin: auto;
    transition: border-color 0.5s ease-in-out;
}

.cell {
    position: relative;
    border-radius: 7px;
    height: calc((var(--board-size) - 32px) / var(--size));
    width: calc((var(--board-size) - 32px) / var(--size));
    margin: 4px;
    background-color: lightgrey;
}

.tile {
    font-weight: bold;
    position: absolute;
    place-items: center;
    letter-spacing: -2px;
    text-indent: -2px;
    border-radius: 7px;
    height: calc((var(--board-size) - 32px) / var(--size));
    width: calc((var(--board-size) - 32px) / var(--size));
    font-size: 8.5vmin;
    text-align: center;
    color: white;
    opacity: 0;
    display: none;
    transition: 0.1s ease-in-out, background-color 0s ease-in-out;
}

.tile2048 {
    display: grid;
    font-weight: bold;
    position: absolute;
    place-items: center;
    border-radius: 28px;
    letter-spacing: -8px;
    text-indent: -4px;
    font-size: 37vmin;
    text-align: center;
    color: white;
    z-index: 100;
    opacity: 0;
}

#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.55em; 
    position: absolute;
    left: 0; 
    right: 0; 
    margin-top: calc(var(--board-size) + 0.7em);
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0); 
    }
  
    100% {
      opacity: 1;
      transform: scale(1); 
    } 
}

@keyframes pop {
    0% {
      transform: scale(1); 
    }
  
    50% {
      transform: scale(1.1); 
    } 

    100% {
        transform: scale(1); 
    } 
}

@keyframes zoom2048 {
    100% {
        transform: scale(1); 
    } 
}

.appear {
    animation: appear 0.15s ease-in-out 0.1s forwards;
}

.pop {
    animation: pop 0.2s ease-in-out forwards;
}

.lost {
    animation: pop 0.3s ease-in-out forwards;
}

.zoom2048 {
    animation: zoom2048 0.5s ease-in-out forwards;
}

@media (orientation: landscape) and (max-height: 460px) {

    header {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        --board-size: 400px;
    }

    header {
        width: 440px;
        height: 92px;
        margin-top: 0;
        margin-bottom: 100px;
    }
    
    .char {
        line-height: 0.78em;
        width: 92px;
        height: 92px;
        border-width: 7px;
        border-radius: 10px;
        font-size: 95px;    
    }

    .board {
        border-width: 15px;
        border-radius: 10px;
    }

    .cell {
        height: 92px;
        width: 92px;
        border-radius: 10px;
    }

    .tile {
        font-size: 40px;
        height: 92px;
        width: 92px;
        border-radius: 10px;
    }

    .tile2048 {
        border-radius: 40px;
        font-size: 173px;   
    }

    #designed {
        font-size: 0.8em; 
        margin-top: calc(var(--board-size) + 0.5em);
    }
}
 