@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular-webfont.woff);
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-bold-webfont.woff);
    font-weight: bold;
}

:root {
    --size: 4;
    --board-size: 0.85;

    --color2: #bf5fa3;
    --color4: #a064ca;
    --color8: #5050c4;
    --color16: #6ca4c9;
    --color32: #7fcdac;
    --color64: #74c860;
    /* --color128: #93cb67; */
    --color128: #b3cf6f;
    --color256: #cbc963;
    --color512: #c7a664;
    --color1024: #c58766;
    --color2048: #bc5854;
    /* --color4096: #ad3729; */




    /* --color1024: #a064ca;
    --color256: #5050c4;
    --color128: #6ca4c9;
    --color8: #7fcdac;
    --color4: #74c860;
    --color2: #b3cf6f;
    --color16: #cbc963;
    --color32: #c7a664;
    --color64: #c58766;
    --color2048: #bc5854;
    --color512: #bf5fa3; */

    

    /* --color2: #b3cf6f;
    --color32: #74c860;
    --color16: #7fcdac;
    --color4: #cbc963;
    --color8: #c7a664;
    --color1024: #c58766;
    --color64: #6ca4c9;
    --color128: #5050c4;
    --color512: #bf5fa3;
    --color256: #a064ca;
    --color2048: #bc5854;
    --color8192: #93cb67; */


}

body {
    font-family: 'Roboto', serif;
    margin: 0;
    transition: opacity 1s ease;
    opacity: 0;
}

#outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 22vw;
    margin-top: 0;
    opacity: 1;
    /* transition: opacity 1s ease-in-out; */

    letter-spacing: 3vw;
    text-indent: 3vw;
}

.board {
 
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, 1fr));

    padding: 4px;
    border: 10px solid darkgrey;
    border-radius: 7px;

    position: relative;

    background-color: lavender;
    height: var(--board-size);
    width: var(--board-size);
    margin: auto;

}

.cell {
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -2px;
    text-indent: -2px;

    border-radius: 7px;

  
    height: calc((var(--board-size) - 32px)/ var(--size));
    width: calc((var(--board-size) - 32px) / var(--size));

    margin: 4px;
    font-size: 9vmin;
    text-align: center;
    background-color: lightgrey;
}

.tile {

    /* background-color: hsl(200, 50%, var(--background-lightness)); */
    /* color: hsl(200, 25%, var(--text-lightness)); */

    font-weight: bold;
    position: absolute;
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    place-items: center;
    /* margin: auto; */
    letter-spacing: -2px;
    text-indent: -2px;

    border-radius: 7px;

  
    height: calc((var(--board-size) - 32px)/ var(--size));
    width: calc((var(--board-size) - 32px) / var(--size));

    /* margin: 4px; */
    font-size: 8.5vmin;
    text-align: center;
    background-color: red;
    color: white;

    opacity: 0;

    display: none;

    /* backface-visibility: hidden; */
    /* transform: translateZ(0); */
    /* filter: blur(.0px); */

    transition: 0.1s ease-in-out, background-color 0s ease;
    /* transition: opacity 0.1s ease-in-out; */


}

.tile2048 {


    font-weight: bold;
    position: absolute;
    place-items: center;

    border-radius: 28px;

    height: calc((var(--board-size) - 32px)/ var(--size) * 4.35);
    width: calc((var(--board-size) - 32px) / var(--size) * 4.35);

    letter-spacing: -8px;
    /* text-indent: -8px; */

    font-size: 37vmin;
    text-align: center;
    background-color: red;
    color: white;

    transform: scale(0.23);

    display: grid;

    transform-origin: top left;

    z-index: 100;

    opacity: 0;

    transition: 0.1s ease-in-out;
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: scale(0); 
    }
  
    100% {
      opacity: 1;
      transform: scale(1); 
    } 
}

.appear {
    animation: appear 0.2s ease 0.1s forwards;
}

@keyframes zoom {
    0% {
      transform: scale(1); 
    }
  
    100% {
      transform: scale(4.35); 
    } 
}

.zoom {
    animation: zoom 0.5s ease-in-out 100ms forwards;
}

@keyframes zoom2 {

    0% {
        transform: scale(0.23);
    }
  
    100% {
        transform: scale(1); 
    } 
}

.zoom2 {
    animation: zoom2 0.5s ease-in-out 40ms forwards;
}

@keyframes pop {
    0% {
      transform: scale(1); 
    }
  
    50% {
      transform: scale(1.1); 
    } 

    100% {
        transform: scale(1); 
      } 
}

.pop {
    animation: pop 0.2s ease forwards;
}



#designed {
    text-align: center;
    align-self: auto;
    color: white;
    font-size: 0.55em; 
    /* margin-top: -1.3em; */

    position: absolute;
    left: 0; 
    right: 0; 
    margin-top: calc(var(--board-size) + 0.7em);
}

.tile:hover, .tile2048:hover  {
      cursor: pointer;
}

@media (orientation: landscape) and (max-height: 460px) {

    h1 {
        display: none;
    }

    .board {
        margin-top: 20px;
    }
}

@media (min-width: 460px) and (min-height: 460px) {

    :root {
        /* --board-size-big: 400px; */
        --board-size: 400px;

    }

    h1 {
        font-size: 6.7em;
        /* letter-spacing: 22px; */
        /* text-indent: 22px; */
        letter-spacing: 6px;
        text-indent: 6px;
    }

    .board {
        padding: 4px;
        border: 15px solid darkgray;
        border-radius: 10px;


        width: var(--board-size);
        height: var(--board-size);

    }

    .cell {

        font-size: 6vmin;
        text-align: center;
        margin: 4px;
        height: 92px;
        width: 92px;

        border-radius: 10px;
    }

    .tile {

        /* top: 104px; */
        /* left: 204px; */

        font-size: 40px;
        text-align: center;
        /* margin: 4px; */
        height: 92px;
        width: 92px;

        border-radius: 10px;
    }

    .tile2048 {

    
        border-radius: 40px;
    
        height: calc((var(--board-size) - 32px)/ var(--size) * 4.27);
        width: calc((var(--board-size) - 32px) / var(--size) * 4.27);

        letter-spacing: -8px;
        text-indent: -0px;    
    
        font-size: 173px;
        text-align: center;
        background-color: red;
    
        /* transform: scale(0.23); */
    
        display: grid;

        transform-origin: top left;

        z-index: 100;

        opacity: 0;

        transition: 0.1s ease-in-out;
    }

    #designed {
        font-size: 0.8em; 
        margin-top: -1.3em;

        position: absolute;
        left: 0; 
        right: 0; 
        margin-top: calc(var(--board-size) + 0.5em);
    }

    @keyframes zoom {
        0% {
          transform: scale(1); 
        }
      
        100% {
          transform: scale(4.27); 
        } 
    }

    .zoom {
        animation: zoom 0.5s ease-in-out forwards;
    }

    @keyframes zoom2 {

        0% {
            transform: scale(0.235);
        }
      
        100% {
            transform: scale(1); 
        } 
    }
}

.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
 